# Discord Bot Configuration
TOKEN=""    # Discord bot token
PREFIX=""   # Bot command prefix

# Lavalink/Nodelink Configuration
HOST=""     # Host
PORT=433    # Port
PASSWORD="" # Password
SECURE=true # Enable https